:root {
    --white: #fff;
    --black: #000;
    --gray: #757575;
    --brand-blue: rgba(33, 150, 243, 1);
    --dark-blue: #2f303a;
    --gray-sove: #f5f4fa;
}

html,
body {
    font-family: 'Roboto', 'sans-serif';
    color: var(--black);
    background-color: var(--gray);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ececec;
}

header > .container {
    width: 1200px;
    margin: auto;
}
header > .container .head {
    display: flex;
    justify-content: space-between;
}
header > .container > .head > .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header > .container > .head > .nav > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 50px;
    margin: 32px 93px;
}
.logo {
    font-family: 'Raleway', 'sans-serif';
    color: var(--brand-blue);
    text-decoration: none;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.nav-element {
    list-style: none;
}
header > .container > .head > .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--gray);
    text-decoration: none;
}

.fa-regular {
    color: var(--gray);
}

.link,
.nav-text {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: unset;
}

header > .container > .head > .contact a:hover {
    text-decoration: none;
    color: var(--brand-blue);
}

.nav-text:hover,
.fa-solid:hover {
    cursor: pointer;
    color: var(--brand-blue);
}
.fa-regular:hover {
    color: var(--brand-blue);
}
.link:hover {
    color: var(--brand-blue);
}

/* ----------------main---------------------------------------------------------------------- */
/* -----------------------------------banner--------------- */
.index {
    background: #f5f4fa;
    width: 100%;
}

.banner {
    background: #2f303a;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 0 150px 0;
}

h1 {
    font-size: 44px;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    width: 696px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
button {
    background: var(--brand-blue);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}
button a {
    color: var(--white);
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.our-team {
    width: 100%;
    margin: 0 100px 0 0;
    background: var(--white);
}
main .our-team .features-general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    padding: 60px 0;
    margin: 0 auto;
}
.features {
    width: 270px;
}
main .our-team .features-general h3 {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black);
}
main .our-team .features-general p {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--gray);
}
/* Main portafolio */

.portafolio {
    background: var(--white);
    display: flex;
    justify-content: center;
}
main > .sitiosweb {
    width: 1200px;
    /* background: #757575; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
main > .sitiosweb > .filtro {
    width: 1600px;
}
main > .sitiosweb > .filtro > .menu {
    display: flex;
    justify-content: center;
}

main > .sitiosweb > .filtro > .menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

main > .sitiosweb > .filtro > .menu ul li {
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    background: var(--gray-sove);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    width: 130px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

main > .sitiosweb > .filtro > .menu ul li .link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
}

main > .sitiosweb > .filtro > .sitios {
    display: flex;
    justify-content: center;
    width: 100%;
}
main > .sitiosweb > .filtro > .sitios ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

main > .sitiosweb > .filtro > .sitios ul li {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
.name {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}
.charge {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: var(--gray);
}

/* ------------------------------------------------ A que nos dedicamos ---------------------------------- */
main .our-team .dedicate {
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > .our-team > .dedicate h2 {
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 700;
    width: 100%;
}

main > .our-team > .dedicate ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 1200px;
    justify-content: space-between;
}

main > .our-team > .dedicate ul li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    line-height: 0;
}

/* --------------------------------------------------Nuestro equipo------------------------------------------- */
main > .our-team > .members {
    padding: 50px 0 70px 0;
    background-color: #f5f4fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > .our-team > .members h2 {
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 700;
    width: 100%;
}
main > .our-team > .members ul {
    /*  background: #ccc; */
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 1200px;
}

main > .our-team > .members ul li {
    /*  background: #ccc; */
    background: var(--white);
    /*  width: 270px; */
    /* height: 368px;
    top: 1696px;
    left: 822px; */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
.name {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}
.charge {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: var(--gray);
}
/* ------------------------------------------------Footer--------------------------- */
footer {
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
}
footer > #footer-general {
    padding: 60px 0;
    display: flex;
    width: 1200px;
}

.address > #webStudio {
    padding-bottom: 10px;
}

.address > #webStudio a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--brand-blue);
    text-decoration: none;
}

.address > #mexico {
    width: 231px;
}

.address > #mexico p {
    color: var(--white);
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: auto;
}
.address > #mexico a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--gray);
}
.address > #mexico span {
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: var(--gray);
}

footer > #footer-general .redes {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

footer > #footer-general .redes h3 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--white);
}

footer > #footer-general .redes .icons {
    display: flex;
    justify-content: space-between;
}
footer > #footer-general .redes .icons a {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    /* padding: 10px; */
    width: 50px;
    height: 50px;
    outline-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
footer > #footer-general .redes .icons a i {
    color: var(--white);
    display: flex;
    align-items: center;
}
footer > #footer-general .redes .icons a:hover {
    background: var(--brand-blue);
}
